<div class="background-home  background-container pb-5">
  <div class="  ">
    <div class="  col-12 d-flex justify-content-between mb-5">
      <div class="  ">
          <div class="form-group">
            <img src="/assets/LOGO-CPE-441X71.png" height="50" alt="" class="ps-sm-2 ps-xl-0 ps-sm-0 ps-xl-5  mt-sm-3 mt-xl-5"  > </div>
      </div>
      <div class="  ">
          <div class="form-group">
            <img src="/assets/CARRERAS-PARA-GENTE-QUE-TRABAJA-334X44.png" height="30" alt="" class="pe-sm-2 pe-xl-0 pe-sm-0 pe-xl-5  mt-sm-3 mt-xl-5">
            </div>
      </div>
  </div>
    
    <div class="row px-0 mx-0">
      <div style="color: aquamarine;" class="col-sm-12	col-md-12	col-lg-7	col-xl-7	col-xxl-7  col-7  ps-sm-0 ps-xl-5  pt-sm-0 pt-xl-5  ">
        <div class="col-12">    <img src="/assets/titulo.png" height="350"   alt="" class="  ps-5 mt-5"></div>
      <div class=" flex-container">
        <div class=" flex-row"><img src="/assets/TOP4-154X231.png" height="230"    alt="" class=" ps-5  "></div>
       <div class=" flex-row ms-3 my-auto subtitulo" >
        <div >
          Elige una de
        </div><br/>
        <br/>
        <strong>
          <div class="text-color">
            las 4 mejores 
          </div><br/><br/>
          universidades 
          <br/><br/>
          <br/> 
          del Perú
        </strong>
       </div>
      </div>


        
      </div>
      
      <div class="col-sm-12	col-md-12	col-lg-5	col-xl-4	col-xxl-4 mx-0  px-0 px-sm-4 px-lg-4 px-xl-0  ">
       <app-formulario></app-formulario>
      </div>
    </div>
 
  </div>

</div>
 
<footer class="  background-footer       ">
  <div class="col-12">
    cpe.cientifica.edu.pe
    <br/>
     facebook.com/CPECientificadelSur
     <br/>
     (01) 643-3553
    
  </div>

 
</footer>



