<div class="background-home  background-container">
  <div class="  ">
    <div class="  col-12 d-flex justify-content-between mb-5">
      <div class="  ">
          <div class="form-group">
            <img src="/assets/LOGO-CPE-441X71.png" height="50" alt="" class="px-5 mt-5"> </div>
      </div>
      <div class="  ">
          <div class="form-group">
            <img src="/assets/CARRERAS-PARA-GENTE-QUE-TRABAJA-334X44.png" height="30" alt="" class="px-5 mt-5">
            </div>
      </div>
  </div>
    
    <div class="row">
      <div class="col-7 ps-5 pt-5">
        <div class="col-12">    <img src="/assets/titulo.png" height="350"   alt="" class="  ps-5 mt-5"></div>
      <div class=" flex-container">
        <div class=" flex-row"><img src="/assets/TOP4-154X231.png" height="230"    alt="" class=" ps-5  "></div>
       <div class=" flex-row ms-3 my-auto subtitulo" >
        <div >
          Elige una de
        </div><br/>
        <br/>
        <strong>
          <div class="text-color">
            las 4 mejores 
          </div><br/><br/>
          universidades 
          <br/><br/>
          <br/> 
          del Perú
        </strong>
       </div>
      </div>


        
      </div>
  
      <div class="col-4 mx-0 px-0">
       <app-formulario></app-formulario>
      </div>
    </div>
 
  </div>

</div>




