 

.text-color{
     color:#ff7f17 !important;
  }

  .flex-container{
    display: flex;
    align-items: flex-end;
}
.flex-row {
    float:right;
  }

  .background-container{
    height:30em;
    background-image:               
    url("/assets/LOGOS-1920X688.png");
    background-size:cover;
   // background-image: url('/assets/LOGOS-1920X688.png');
    background-repeat:no-repeat;
    background-position: center center;
 //   background-attachment: fixed;
//    overflow-y: scroll;

    
  
}
.background-containerx{
    height:200px;
    background-image:               
    url("/assets/PIE-1920X241.png");
    background-size:cover;
   // background-image: url('/assets/LOGOS-1920X688.png');
    background-repeat:no-repeat;
    background-position: center center;
 //   background-attachment: fixed;
//    overflow-y: scroll;

    
  
}
.content {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  
  
  .hijo {
    color:#ff7f17;
    font-size: 0.7em;
    display:flex;
    justify-content: center;
    align-items: start;

      /* Estilos generales */

  @media (max-width: 884px) {
      margin: 0px 0px 43px 0px;
  }

  @media (min-width: 884px) and (max-width: 1315px) {
    margin: 0px 0px 21px 0px;
  }

  @media (min-width: 1315px) {
    margin: 0px 0px 21px 0px;
  }
 
   }
   .hijo2 {
    color:#ff7f17;
    font-size: 0.7em;
    display:flex;
    justify-content: center;
    align-items: start;

      /* Estilos generales */

  @media (max-width: 884px) {
      margin: 0px 0px 21px 0px;
  }

  @media (min-width: 884px) and (max-width: 1415px) {
    margin: 0px 0px 3px 0px;
  }

  @media (min-width: 1415px) {
    margin: 0px 0px 0px 0px;
  }
 
   }
  

   
.toolbar-component {
  border: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0 20px 17px -20px rgba(123, 123, 136, 0.2);
 
  background-color: #fff !important;
  mat-toolbar {
    border: none;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: rgba(0, 0, 0, 0.589);
    height: 150px;
    background-color: #fff !important;
  }
  
}

.contain-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .contain-g {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contain-g {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contain-g {
    width: 1170px;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
.texto-derecha {
  text-align: right;
}
.button-style{
 
  background-color: #ff7f17;
  border: none;
  border-radius: 3px;
  color: #fff;
  
  padding-left: 1em;
  padding-right: 1em;
}

.container-xxd {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 9em; /* Ajusta la altura según tus necesidades */
}

 