/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.background-footer{
    height: 250px;
    border-top: 0.6rem solid #ff7f17;
    width: 100%;
    text-align: right;
    color:#fff;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    margin-right: 0em !important;

    font-size: 1.8em;
    display: flex;
    align-items: center;
    line-height: 1;
    
    background: linear-gradient(
    85deg,
    hsl(212deg 72% 25%) 0%,
    hsl(217deg 59% 24%) 42%,
    hsl(221deg 50% 23%) 78%,
    hsl(227deg 43% 21%) 100%
  );
  
  }
   